{% load static %}
<html>
    <head>
        <title>Minchangs blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css?after">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css?after">
        <link href='//fonts.googleapis.com/css?after?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- favicon.ico 404 (Not Found) -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      </head>
      <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu" name="new_post"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu" name="drafts"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'CV_list' %}" class="top-menu" name="CV"><span class="glyphicon glyphicon-user"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
          {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            <a href="{% url 'CV_list' %}" class="top-menu" name="CV"><span class="glyphicon glyphicon-user"></span></a>
          {% endif %}
          <h1><a herf="{% url 'post_list' %}"><strong>Welcome to Minchang's blog</strong></a></h1>
        </div>

      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
